The purpose of this File is to learn Data analysis with GFG modules.

In [ ]:
#!git clone https://github.com/AshishJangra27/datasets.git

Cloning into 'datasets'...
remote: Enumerating objects: 328, done.
remote: Counting objects: 100% (93/93), done.
remote: Compressing objects: 100% (83/83), done.
remote: Total 328 (delta 19), reused 54 (delta 9), pack-reused 235 (from 1)
Receiving objects: 100% (328/328), 278.62 MiB | 13.15 MiB/s, done.
Resolving deltas: 100% (145/145), done.
Updating files: 100% (225/225), done.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
df = pd.read_csv(r'/Users/nitindhami/Desktop/@Projects/Python/EDA/datasets/Job Postings/jobs.csv.zip')

In [4]:
df.head()

,job_id,job_role,company,experience,salary,location,rating,reviews,resposibilities,posted_on,job_link,company_link
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...",4.0,39110 Reviews,"Customer Service,Sales,Relationship Management",1 Day Ago,https://www.naukri.com/job-listings-branch-ban...,https://www.naukri.com/hdfc-bank-jobs-careers-213
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Product management,Market analysis,Change mana...",1 Day Ago,https://www.naukri.com/job-listings-product-ow...,https://www.naukri.com/accenture-jobs-careers-...
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...",4.1,32129 Reviews,"Business process,Change management,Team manage...",1 Day Ago,https://www.naukri.com/job-listings-employee-r...,https://www.naukri.com/accenture-jobs-careers-...
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...",4.1,3759 Reviews,"SAP BO,PL / SQL,Oracle SQL,SAP Business Object...",1 Day Ago,https://www.naukri.com/job-listings-sap-bo-con...,https://www.naukri.com/mindtree-jobs-careers-3...

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79147 entries, 0 to 79146
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_id           78667 non-null  float64
 1   job_role         78667 non-null  object
 2   company          78666 non-null  object
 3   experience       77398 non-null  object
 4   salary           78667 non-null  object
 5   location         77441 non-null  object
 6   rating           42948 non-null  float64
 7   reviews          42948 non-null  object
 8   resposibilities  78647 non-null  object
 9   posted_on        78667 non-null  object
 10  job_link         78667 non-null  object
 11  company_link     78667 non-null  object
dtypes: float64(2), object(10)
memory usage: 7.2+ MB

In [6]:
df.describe()

             job_id        rating
count  7.866700e+04  42948.000000
mean   1.255071e+11      3.940144
std    1.097464e+11      0.519211
min    1.012200e+10      1.000000
25%    4.012350e+10      3.700000
50%    6.012350e+10      4.000000
75%    2.610226e+11      4.200000
max    3.112229e+11      5.000000

In [7]:
df.isnull().sum()

job_id               480
job_role             480
company              481
experience          1749
salary               480
location            1706
rating             36199
reviews            36199
resposibilities      500
posted_on            480
job_link             480
company_link         480
dtype: int64

In [8]:
df.duplicated().sum()

5801

In [9]:
#remove Un-necessary columns
df.drop(columns=['rating','reviews','posted_on','job_link','company_link'],inplace=True)

In [10]:
df.head()

,job_id,job_role,company,experience,salary,location,resposibilities
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...","Customer Service,Sales,Relationship Management"
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Product management,Market analysis,Change mana..."
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...","SAP BO,PL / SQL,Oracle SQL,SAP Business Object..."

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79147 entries, 0 to 79146
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_id           78667 non-null  float64
 1   job_role         78667 non-null  object
 2   company          78666 non-null  object
 3   experience       77398 non-null  object
 4   salary           78667 non-null  object
 5   location         77441 non-null  object
 6   resposibilities  78647 non-null  object
dtypes: float64(1), object(6)
memory usage: 4.2+ MB

In [12]:
df = df.dropna(subset = ['job_id','company','resposibilities'])

In [13]:
df['experience'] = df['experience'].fillna('5-10 Yrs')
df['location']   = df['location'].fillna('Bangalore/Bengaluru')

In [14]:
df.head()

,job_id,job_role,company,experience,salary,location,resposibilities
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...","Customer Service,Sales,Relationship Management"
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Product management,Market analysis,Change mana..."
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...","SAP BO,PL / SQL,Oracle SQL,SAP Business Object..."

In [19]:

df.drop_duplicates(subset = 'job_id', inplace = True)

In [20]:
df.head()

,job_id,job_role,company,experience,salary,location,resposibilities
0,7.012301e+10,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...","Customer Service,Sales,Relationship Management"
1,6.012391e+10,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Product management,Market analysis,Change mana..."
2,6.012391e+10,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
3,6.012391e+10,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
4,6.012301e+10,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...","SAP BO,PL / SQL,Oracle SQL,SAP Business Object..."

In [21]:
df['job_id'] = df['job_id'].astype(int)

In [22]:
df

,job_id,job_role,company,experience,salary,location,resposibilities
0,70123006070,Branch Banking - Calling For Women Candidates,Hdfc Bank,1-6 Yrs,Not disclosed,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab...","Customer Service,Sales,Relationship Management"
1,60123905908,Product Owner Senior Manager,Accenture,11-15 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Product management,Market analysis,Change mana..."
2,60123905898,Employee Relations and Policies Associate Manager,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
3,60123905897,Employee Relations and Policies Specialist,Accenture,3-7 Yrs,Not disclosed,"Kolkata, Mumbai, Hyderabad/Secunderabad, Pune,...","Business process,Change management,Team manage..."
4,60123008332,SAP BO Consultant,Mindtree,5-7 Yrs,Not disclosed,"Hybrid - Kolkata, Hyderabad/Secunderabad, Pune...","SAP BO,PL / SQL,Oracle SQL,SAP Business Object..."
...,...,...,...,...,...,...,...
73762,20123002989,Partner Success Executive/Edtech/Punjab,Parth Associates,1-5 Yrs,"7,00,000 - 8,50,000 PA.","Jalandhar, Chandigarh, Amritsar","CRM,Communication Skills,Presentation Skills,C..."
73763,20123002957,Partner Success Associate/Edtech/Punjab,Parth Associates,1-5 Yrs,"7,00,000 - 8,50,000 PA.","Ludhiana, Patiala, Moga","CRM,Communication Skills,Presentation Skills,C..."
73764,231222003986,Hiring For International Voice Process | Gurga...,First Step Solutions,1-4 Yrs,"3,00,000 - 4,50,000 PA.","New Delhi, Gurgaon/Gurugram","Customer Service,US Process,Hospitality,Custom..."
73765,171220001449,Fresher Engineer,Sofcon,0-2 Yrs,Not disclosed,"Kota, Udaipur, Banswara, Bhiwadi, Jaipur, Alwa...","ENGINEERING,B Tech Fresher,AutoCAD,Degree,PLC,..."
73766,71022008732,Anatomy Trainer - Part Time / Full time,Indian Healthcare BPO,1-6 Yrs,Not disclosed,"Hybrid - Pondicherry/Puducherry, Salem, Chennai","Lecturer Activities,Nursing Education,Trainer,..."

Empty DataFrame
Columns: [job_id, job_role, company, experience, salary, location, resposibilities]
Index: []